body {
    background-color: rgb(231, 231, 231);
}

.container-fluid {
    font-family: 'Satisfy', cursive;
}


.navbar {
    display: flex;
    max-width: 100%;
}

.navbar button {
    margin: 0;
    font-size: 2rem;
}

.navbar button:hover {
    background-color:teal;
}

.heading {
    font-size: 5rem;
    font-family: 'Satisfy', cursive;
}

.main {
    width: 100%;
    margin: 0;
}

.circleCont{
    width:100%;
}


.circle {
    width: 76%;
    padding-top: 10%;
    border: 7px solid cadetblue;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
    background-color: rgba(128, 128, 128, 0.199);
}

.head {
    font-size: 2rem;
}

.upCol, .downCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upRow, .downRow {
    height: 50%;
}

.quoteHeader {
    font-size: 1.5rem;
    margin-left: 25%;
}

.rightSideRowQ {
    height: 50%;
    background-color: rgba(0, 128, 128, 0.397);
    margin: 0;
    border-radius: 100px;
}

.rightSideRow {
    height: 50%;
    margin: 0;
    border-radius: 20px;
}

.days {
    border-radius: 50%;
    width: 14%;
    background-color: rgba(128, 128, 128, 0.199);
}

.days:hover {
    background-color: rgba(128, 128, 128, 0.678);
}

.dayRow {
    height: 50%;
    width: 100%;
    display: flexbox;
    padding-bottom: 15%;
}

.dayHead {
    font-size: 1rem;
}

#dailyTotal {
    font-size: 25rem;
}

.dayKarma {
    font-size: 2rem;
}

#weekKarma {
    font-size: 2rem;
    margin-top: 5%;
    text-align: center;
}

#weekKarmaCol {
    margin-top: -30%;
}

.weekKarmaHeadRow {
    width: 100%;
    display: block;
}

#thumbDown {
    margin-left: 50%;
    margin-bottom: 30%;
}

#thumbUp {
    margin-left: 50%;
    margin-top: 30%;
}

#thumbsUpBut, #thumbsDownBut {
    border: none;
    background-color: transparent;
    outline: transparent;
}


/* LOGIN PAGE STYLING */


.card {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    margin: auto;
    background-color: rgba(0, 128, 128, 0.685);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHolderCol {
    justify-content: center;
    align-items: center;
    display: block;
}

.fontCard {
    font-size: 1.5rem;
}

.subBut {
    font-size: 1.2rem;
    font-weight: bold;
}

.subBut:hover {
    background-color: teal;
    color: white;
    font-weight: bolder;
}





/* ------------MEDIA DEVICES------------- */

/* XS */
@media only screen and (max-width: 600px) {
   #dailyTotal {
       font-size: 25vw;
   }
    
   .circle {
    width: 60%;
    padding-top: 10%;
    border: 7px solid cadetblue;
    border-radius: 50%;
    display: inline-block;
}

    .days {
        border-radius: 50%;
        width: 14%;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .dayHead {
        font-size: .8rem;
    }

    .dayKarma {
        font-size: 1.5rem;

    }

    .upCol {
        padding-bottom: 10%;
    }


    #quoteBoxRow {
        margin-top: 30%;
    }
    
    #weekKarma {
        font-size: 2rem;
        padding-bottom: 20%;
    }
    
    #weekKarmaCol {
        padding-bottom: 20%;
        }

    .quoteHeader {
        font-size: 1.5rem;
        margin-left: 42%;
        margin-top: 5%;
    }

    #thumbDown {
        margin: 0;
    }
    
    #thumbUp {
        margin: 0
    }

}


/* MD */
@media only screen and (min-width: 760px) and (max-width: 900px) {


    .rightSideRowQ {
        margin-left: -10%;
        margin-right: 10%;
    }

   .navbar {
       margin: 0;
       padding-left: 9%;
   }

   #thumbDown {
       margin-bottom: 60%;
       margin-left: 40%;
   }

   #thumbUp {
       margin-left: 40%;
       margin-top: 20%;

   }

   .days {
       margin-bottom: 20%;
   }

   .dayKarma {
       font-size: 1.5rem;
   }

   .dayHead {
       font-size: .8rem;;
   }

   
   #weekKarma {
       margin: 0;
   }

/* For Login/Register Page Only */

.headingLog {
    padding-left: 29%
}


}


/* LG */

@media only screen and (min-width: 1000px) {
    #dailyTotal {
        font-size: 20vw;
    }
     
    .circle {
     width: 70%;
     padding-top: 8%;
     border: 7px solid cadetblue;
     border-radius: 50%;
     display: inline-block;
 }

    .heading {
        padding-left: 10%;
    }

/* For Login/Register Page Only */

    .headingLog {
        padding-left: 27%
    }

}